<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <title>Perfil</title>
</head>
<body>

<div class="profile-container">
    <div class="profile-card">
        <div class="profile-image"></div>
        <h2 class="user-details">Nome do Usuário</h2>
        <p class="user-details">Email: usuario@example.com</p>
        <!-- Outras informações do usuário -->

        <div class="book-carousel">
            <!-- Adicione imagens ou quadrados para representar os livros -->
            <div class="book"></div>
            <div class="book"></div>
            <div class="book"></div>
            <!-- Adicione mais livros conforme necessário -->
        </div>
    </div>
</div>

</body>
</html>
